<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Registrar Usuario Rol</title>
</head>

<body>

	<header th:replace="master/master :: header"> </header>

	<h2 style="padding-top: 40px; padding-left: 50px;">Formulario de
		Registrar</h2>

	<div class="container">
		<div>
			<form th:action="@{/usuariorol/guardar}" method="post"
				th:object="${s}">

				<div class="form-group">
					<label for="usuario">Nombre Usuario:</label> <select
						class="form-select" th:field="*{usuario.id}">
						<option th:each="lu: ${listaUsuarios}" th:value="${lu.id}"
							th:text="${lu.username}"
							th:selected="(${lu.id} == *{usuario.id})"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="usuario">Rol:</label> <select class="form-select"
						th:field="*{rol.id}">
						<option th:each="lr: ${listaRoles}" th:value="${lr.id}"
							th:text="${lr.type}" th:selected="(${lr.id} == *{rol.id})"></option>
					</select>

				</div>

				<div class="col-sm-12">
					<input type="submit" class="btn btn-dark" value="Registrar"></input>
				</div>

			</form>

		</div>


	</div>

	<footer th:replace="master/master :: footer"></footer>



</body>

</html>